<mat-tab-group
  mat-align-tabs="center">

  <mat-tab
    label="Detalhes da conta"
    class="tab-group-header">
    {{ user.website }}
  </mat-tab>

  <mat-tab
    label="Informações da Empresa"
    class="tab-group-header">

  </mat-tab>

  <mat-tab
    label="Endereço e Localização"
    class="tab-group-header">

    {{ user.website }}


    <agm-map
      [latitude]="-37.3159"
      [longitude]="-37.3159"
      [zoom]="2">

      <agm-marker
        [latitude]="-37.3159"
        [longitude]="-37.3159">
      </agm-marker>
    </agm-map>

  </mat-tab>

</mat-tab-group>
