<div style="margin-bottom: 20px">
  <mat-accordion class="headers-align">
    <mat-expansion-panel
      (opened)="renderMaps = true"
      (closed)="renderMaps = false">

      <mat-expansion-panel-header>

        <mat-panel-title>
          <b>{{ user.username }}</b>
        </mat-panel-title>

      </mat-expansion-panel-header>

      <p>{{ user.website }}</p>

      <agm-map
        *ngIf="renderMaps"
        [latitude]="parse(user.address.geo.lat)"
        [longitude]="parse(user.address.geo.lng)"
        [zoom]="2">
          <agm-marker
            [latitude]="parse(user.address.geo.lat)"
            [longitude]="parse(user.address.geo.lng)">
          </agm-marker>
      </agm-map>

      <mat-action-row *ngIf="!exibirFavoritos">
        <button mat-raised-button color="primary" (click)="favoritar()">
          Favoritar
        </button>
      </mat-action-row>

      <mat-action-row *ngIf="exibirFavoritos">
        <button mat-raised-button color="warn" (click)="removerFavorito()">
          Remover Favorito
        </button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</div>
